body {
    margin: 0 auto;
    font-family: 'Mali', cursive;
    background-color: white;
    width: 90%;
}

header {
    margin: 0 auto;
    background-color:#DEB887;
    text-align: center;
    font-size: x-large;
    padding-top: 10px;
    width: 100%;
    padding-bottom: 10px;
    width: 90%;
}

main {
    margin: 0 auto;
    width: 90%;
}

footer {
    margin: 0 auto;
    background-color: #DEB887;
    text-align: center;
    margin-top: 40px;
    padding-top: 3px;
    padding-bottom: 30px;
    width: 90%;
}

img {
    width: 120px;
    height: 120px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul {
    display: block;
}

.firstlist li {
    list-style-type: none;
    padding: 15px;
    text-decoration: none;
}

.secondlist li {
    list-style-type: none;
    display: block;
    padding: 5px;
}

.thirdlist li {
    padding: 10px;
}

.fourthlist li {
    padding: 10px;
}

.fifthlist li {
    padding: 10px;
}


.color1 {
    background-color: #7584ad;
    padding: 10px;
    border:solid 2px black;
}

.color2 {
    background-color: #a37f6f;
    padding: 10px;
    border:solid 2px black;
}

.color3 {
    background-color: #FFFFFF;
    padding: 10px;
    border:solid 2px black;
}
