@media only screen and (min-width: 600px) and (max-width: 1100px) {
    main {
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
    #principle1 {
        grid-column: 1;
        grid-row: 1 / 2;
    }
    
    #principle2 {
        grid-column: 2;
        grid-row: 1 / 2;
    }
    
    #principle3 {
        grid-column: 1;
        grid-row: 2 / 3;
    }
}