
    main {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
    }
    header {
        background-color:#DEB887;
        text-align: center;
        font-size: x-large;
        padding-top: 10px;
        width: 100%;
    }
    
    h2 {
        text-align: center;
    }
    
    a {
        line-height: 50px;
    }

    #principle1 {
        grid-column: 1;
        grid-row: 1 / 2;
        background-color: blanchedalmond;
        border-radius: 25px;
        text-align: center;
    }
    
    #principle2 {
        grid-column: 1;
        grid-row: 2 / 3;
        background-color: blanchedalmond;
        border-radius: 25px;
        text-align: center;
    }
    
    #principle3 {
        grid-column: 1;
        grid-row: 3 / 4;
        background-color: blanchedalmond;
        border-radius: 25px;
        padding-right: 25px;
        text-align: center;
    }
    
    body {
        margin: 0;
        font-family: 'Mali', cursive;
        background-color: white;
    }
    
    main img:nth-child(1) {
        position: absolute;
        width: 180px;
        top: 20px;
        left: 50px;
    }
    
    main img:nth-child(2) {
        position: absolute;
        width: 80px;
        top: 20px;
        right: 150px;
    }
    
    main img:nth-child(3) {
        position: absolute;
        width: 180px;
        top: 20px;
    }
    
    main img {
        width: 90%;
    }
    
    footer {
        background-color: #DEB887;
        text-align: center;
        margin-top: 40px;
        padding-top: 3px;
        padding-bottom: 30px;
    }
    
    .secondlist li {
        list-style-type: none;
        display: inline;
        padding: 5px;
    }
    
    ul #first, #second, #third {
        border-right: 1px solid black;
    }
