body {
    margin: 0;
    font-family: 'Mali', cursive;
    background-color:#FFE4C4;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-size: large;
    background-color:#FFE4C4;
}

.picture {
    position: absolute;
    width: 180px;
    top: 20px;
    right: 150px;
}

.picture img {
    width: 100%;
}

header {
    background-color:#DEB887;
    padding: 10px;
    text-align: center;
    font-size: x-large;
    border-radius: 25px;
}

footer {
    background-color: #DEB887;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
}

.secondlist li {
    list-style-type: none;
    display: inline;
    padding: 5px;
}

ul #first, #second, #third {
    border-right: 1px solid black;
}

hr {
    border-color: black;
}