header {
    display: flex;
    width: 100%;
    background-color: #7584ad;
    text-align: center;
    justify-content: center;
    margin-bottom: auto;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

img {
    box-shadow: 5px 5px 10px;
    border-radius: 5px;
}

picture img[data-src] {
    filter: blur(0.2em);
}
  
picture img {
    filter: blur(0em);
    transition: filter 2s;
}

footer {
    background-color: #7584ad;
    text-align: center;
    padding: 10px;
}

.secondlist li {
    display: block;
    list-style-type: none;
    padding: 5px;
}