@media only screen and (min-width: 601px) {

    .secondlist li {
        display: inline;
        list-style-type: none;
        padding: 25px;
    }

    header button {
        display: none;
    }
}