@media only screen and (min-width: 650px) {

    .cards {
        display: flex;
        flex-wrap: wrap;
    }

    .townsect {
        display: flex;
        flex-direction: row;
        width: 100%;
        min-width: 680px;
        margin: 10px;
        align-items: center;
    }

    .townsect:nth-child(even) {
        flex-direction: row-reverse;
    }

    .towninfo {
        width: 100%;
        min-width: 260px;
        text-align: center;
        padding: 10px;
    }

}