@media only screen and (min-width: 601px) {
   
    .firstlist li:first-child {
        display: none;
    }

    nav ul {
    display: flex;
    justify-content: center;
    }

    .firstlist li {
        display: flex;
        font-size: larger;
        list-style-type: none;
        padding: 25px;
        text-decoration: none;
    }   

    h2 {
        text-align: left;
    }

    header button {
        display: none;
    }

    .secondlist li {
        display: inline;
        list-style-type: none;
        padding: 25px;
    }
    }